body{
  margin: 0;
  padding: 0;
  font: 100 14px/21px "segoe UI", sans-serif;
}
strong,th{font-weight: 400;}
h1,h2,h3,h4,h5,h6{
  font-weight: 100;
}
  h1, select{font-size:49px;line-height:56px;}
  h2{font-size:42px;line-height:49px;}
  h3{font-size:35px;line-height:42px;}
  h4{font-size:28px;line-height:35px;}
  h5,caption{font-size:21px;line-height:28px;}
  h6{font-size:14px;line-height:21px;}

h1 + p.sub{
  margin: -3em 0 1em 1em;
}

blockquote > cite{
  display: block;
  margin: 0 1em;
  padding:0 .7em;
  font-size: .8em;
}

article{
  width: 720px;
}

table {
  margin: 2em 0;
  width: 100%;
}
  caption{
    text-align: left;
  }
  td {
    text-align: center;
  }
  tr:nth-child(2n+3){
    background: #e2e2e2
  }
  tr:hover{
    background: #efefef
  }

.points{
  padding:1em 0 2em 300px;
  position: relative;

}
  .points > .count{
    content:"";
    position: absolute;
      left: 75px;
      top:18%;
    padding:75px;
    width: 0px;
    line-height: 0;
    color: white;
    font-size: 12em;
    overflow:hidden;

    background: #063682;
    border-radius: 75px;

  }

.masthead{
  width: 960px;
  margin: 0 auto;
}
.masthead .mask{
  height: 300px; /* Required to influence objectSVG logo and crossing slash*/
  margin: 40px 0 0 20px;
  overflow: hidden;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
  .masthead .mask object{
    height: inherit;
  }
.masthead, .mask, .titleBox{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  background: inherit;
  justify-content: space-around;
}
.masthead .titleBox{
  border-left: 5px solid;
  -webkit-transform: skewX(-40deg);
  transform: skewX(-40deg);
  height: 75%;
  margin-left: -80px;
}
.masthead .description{
  -webkit-align-self: flex-end;
  -ms-flex-item-align: flex-end;
  align-self: flex-end;
}
.masthead h1{
  margin: 0;
  padding: 0 20px 20px;
  -webkit-transform: skewX(40deg);
  transform: skewX(40deg)
}
.masthead.small .mask{
  margin: 20px 0 0 20px;
  height: 120px;
}
.masthead.small .titleBox{
  margin-left: -35px;
}

section[role='main']{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.clubList article{
  max-width: 480px;
}

body{
  background: #f8f8f8;
}
.red{
  background: #e8333a;
}
.black{
  background: #3d3936;
}
.teal{
  background: #00989d;
}
.green{
  background: #09D30F;
}


.points .count{
  color: #fffafe;
  background: #3d3936;
  border-radius: 75px;
}

blockquote > cite{
  border-left: 1px #080808 solid;
}

.count[data-status="up"]{
  background: #09D30F;
}
.count[data-status="down"]{
  background: #e8333a;
}

.masthead, .masthead .titleBox{
  background: inherit;
}
.masthead .titleBox,.masthead svg path{
  border-color: #00989d;
  fill: #00989d;
}
